{# Jinja2 Template for Output #}
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-yxwx{background-color:#010066;color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<title>
Forvo Results for "{{ word_to_search }}"
</title>
<h1>Forvo Results for "{{ word_to_search }}"</h1>
<thead>
  <tr>
    <th class="tg-yxwx">id</th>
    <th class="tg-yxwx">Hits</th>
    <th class="tg-yxwx">Word</th>
    <th class="tg-yxwx">Code</th>
    <th class="tg-yxwx">Country</th>
    <th class="tg-yxwx">User</th>
    <th class="tg-yxwx">Sex</th>
    <th class="tg-yxwx">+1 Votes</th>
    <th class="tg-yxwx">Preview</>
    <th class="tg-yxwx">Link</th>
  </tr>
</thead>
<tbody>
  {% for index in items_list  %}
  <tr>
    <td class="tg-0lax">{{ index.id }}</td>
    <td class="tg-0lax">{{ index.hits }} </td>
    <td class="tg-0lax">{{ index.word }}</td>
    <td class="tg-0lax">{{ index.code }}</td>
    <td class="tg-0lax">{{ index.country }}</td>
    <td class="tg-0lax">{{ index.username }}</td>
    <td class="tg-0lax">{{ index.sex }}</td>
    <td class="tg-0lax">{{ index.num_positive_votes }}</td>
    <td><audio controls><source src="{{ index.pathmp3 }}" type="audio/mpeg">Your browser does not support the audio tag.</audio></td>
    <td class="tg-0lax"><a href={{ index.pathmp3 }}>Click to Download</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
<p><a href="https://forvo.com/" title="Pronunciations by Forvo"><img src="https://api.forvo.com/byforvoblue.gif" width="120" height="40" alt="Pronunciations by Forvo" style="border:0" /></a></p>